<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="image/base.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css" integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/sginup.css">
    <link rel="stylesheet" href="../css/midea-acadimy.css">
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <title>Sign Up</title>
</head>
<body>

    <nav class="navbar position-fixed ">
     
       <div class="bar text-center">
         <a href="../Academy.html">Home</a>
         <a href="">Compony</a>
         <a href="">Community</a>
         <a href="signin.html">Sgin in</a>

         
       </div>
    </nav>
    <div class="log">
      <form class="form_sgin_up" action="#">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
         
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" >
          <div class="eye_pass">
            <i onclick="chang();" class="fa-solid fa-eye-slash"></i>
          </div>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox"class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">remember me</label>
        </div>
        <button type="submit" class="btn btn-success">sign_up</button>
      </form>
    </div>

   
   
    <div class="footer text-center">
      <a href="../Academy.html">Home</a>
      <a href="">about us</a>
      <a href="">Content</a>
      <a href="">services</a>
      

    </div>
   
   













    
    <script src="js/jquery-3.6.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/Academy.js"></script>
</body>
</html>